<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
        {{# <link rel="shortcut icon" type="image/x-icon" href="https://cdn.futuremandigital.com/favicon.ico"> #}}
        {{ seo_pro:meta }}
    </head>
    <body class="">
        {{ template_content }}
        {{ vite src="resources/js/site.js" }}
    </body>
</html>
